@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Расчет котельного агрегата</h1>
    <h3>Выберите вид топлива</h3>
    <div class="list-group list-group-flush">
        
        <a href="https://localhost:7161/Home/DataInput" class="list-group-item list-group-item-primary">Газообразное топливо</a>
        <a href="https://localhost:7161/Home/DataInputZhidk" class="list-group-item list-group-item-primary">Жидкое топливо</a>
        <a href="https://localhost:7161/Home/DataInputTverd" class="list-group-item  list-group-item-primary">Твердое топливо</a>
       
    </div>
    
</div>
